@import "tailwindcss";


/* @layer components {
    .mycontainer {
      @apply max-w-[95vw] mx-auto px-20 pb-16 py-10;
    }
} */

@layer components {
  .mycontainer {
    @apply max-w-[95vw] mx-auto px-4 pb-16 py-10;
  }

  @media (min-width: 960px) {
    .mycontainer {
      @apply px-15;
    }
  }

  @media (min-width: 961px) {
    .mycontainer {
      @apply px-25;
    }
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
}


body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: #f0fdf4; /* Tailwind's green-50 */
  background-image: 
    linear-gradient(to right, #8080800a 1px, transparent 1px),
    linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  background-size: 14px 24px;
}